<page-title ng-if="layoutOptions.pageTitles" title="{{pagetitle}}" description="Inserisi una nuovo tipo di allarme"></page-title>

<div class="panel panel-default">
	
	<div class="panel-body">
		<div class="cratediv">
			<button class="btn btn-icon btn-success" data-toggle="collapse" data-target="#createalarmtype" aria-expanded="false" aria-controls="createalarmtype" ng-click="toggleIcon()">
			
				<i class="fa-plus" id="iconbtn"></i>
				<span>Nuovo tipo allarme</span>
			</button>
		</div>

		<div class="row collapse" id="createalarmtype">

				<form class="form form-horizontal form-padding" ng-submit="createAlarmType()">
								
				<div class="form-group">
					<label class="col-sm-3 control-label" for="form-control-3"></label>
					<div class="col-sm-12">	
						<div class="col-sm-6 col-xs-12">
						    <div class="multilabel">Nome </div>
						    <div class="input-with-icon">
								<input id="form-control-1" class="form-control" type="text" ng-model="name" autocomplete="off_">
								<span class="icon icon-edit input-icon"></span>
							</div>										    
						</div>
						<div class="col-sm-6 col-xs-12">
						    <div class="multilabel">Codice </div>
						    <div class="input-with-icon">
								<input id="form-control-1" class="form-control" type="text"  ng-model="code" autocomplete="off_" >
								<span class="icon icon-edit input-icon"></span>
							</div>										    
						</div>						
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-3 control-label" for="form-control-3"></label>
					<div class="col-sm-12">	
						<div class="col-sm-12 col-xs-12">
						    <div class="multilabel">Descrizione </div>
						    <div class="input-with-icon">
								<textarea id="form-control-2" class="form-control" type="text" ng-model="description" autocomplete="off_" rows="5" style="width: 100%;"></textarea>
							</div>										    
						</div>
						
					</div>
				</div>               
                <div class="form-group paddingTop50">
					<label class="col-sm-4 control-label" for="form-control-3"></label>
					<div class="col-sm-4 text-center">					

						<button type="submit" class="btn btn-success btn-icon" ng-disabled="isDisabled">Crea Tipo Allarme</button>
					</div>
				</div>
			</form>



		</div>
		<div class="panel-body" ng-show="alarms.length > 0">		

			<table class="table table-striped table-bordered" id="showalarmtype">
				<thead>
					<tr >
						<th>Nome</th>
						<th>Codice</th>
						<th width="20%">Descrizione</th>
						
						<th class="text-center">Edita</th>
						<th class="text-center">Elimina</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="row in alarms">
						<td>{{row.name}}</td>
						<td>{{row.code}}</td>
						<td>{{row.description}}</td>
						
						<td class="text-center">
							<button type="button" ng-click="editAlarmType(row)" class="btn btn-icon btn-success"><span class="fa fa-pencil"></span></button>
						</td>
						<td class="text-center">
							<button type="button" ng-click="deleteUser()" class="btn btn-icon btn-red"><span class="fa fa-trash"></span></button>
						</td>
					</tr>
				
				</tbody>
				
			</table>

			
			
		</div>
	</div>
</div>