<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
  style="display: block;overflow-y: auto;" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-xl ">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{name}}</h4>
            </div>

            <div class="modal-body">
            	

            	<div class="row ">
					<div >
						<div class="col-sm-12">
							<h3>Filtri</h3>
							<div class="col-sm-3">
								Data Da:
								<input type="date" name="" class="form-control" ng-model="dateFrom">
							</div>
							<div class="col-sm-3">
								Ora Da
								<input type="time" name="" class="form-control" ng-model="hourFrom">
							</div>
							<div class="col-sm-3">
								Data A:
								<input type="date" name="" class="form-control" ng-model="dateTo">
							</div>
							<div class="col-sm-3">
								Ora A:
								<input type="time" name="" class="form-control" ng-model="hourTo">
							</div>
							<div class="col-sm-12 text-center">
								<button class="btn btn-secondary mrt30" ng-click="filterValues()">Filtra</button>
							</div>
							<div class="col-sm-12 text-center">
								<h3 class="text-center">  {{timingonoffcount}}</h3>	
							</div>

							
						</div>
						
					
						
						<div ng-show="data.results.length > 0">
							<div class="col-sm-5">		
								<div class="row">
									<div class="col-sm-12">	

										<div class="panel panel-default">
											<div class="panel-heading">
												<h3 class="panel-title">Stato Attuale</h3>
												<div class="panel-options">
													<a href="#" data-toggle="panel">
														<span class="collapse-icon">&ndash;</span>
														<span class="expand-icon">+</span>
													</a>													
												</div>
											</div>
											<div class="panel-body" ng-if="actualvalue == true">												
												<div class="text-center switchdivstatus">
													ON
												</div> 
											</div>

											<div class="panel-body" ng-if="actualvalue == false || !actualvalue">												
												<div class="text-center switchdivstatusoff">
													OFF
												</div> 
											</div>
											
										</div>					
									</div>
								</div>		
							</div>
							<div class="col-sm-7">								
								<div class="chart-item-bg">	
									<div class="row">
										<div class="col-sm-12">
											<div class="panel panel-default">
												<div class="panel-heading">
													<h3 class="panel-title">Posizionamento</h3>
													<div class="panel-options">
														<a href="#" data-toggle="panel">
															<span class="collapse-icon">&ndash;</span>
															<span class="expand-icon">+</span>
														</a>
													</div>
												</div>
												<div class="panel-body">
													<div id="bar-5"></div>
												</div>
											</div>												
										</div>
									</div>	
								</div>
							</div>
							<div style="float:right;">
								<button class="btn btn-secondary mrt30" ng-click="createPDF()">Scarica Pdf</button>
							</div>

							<div class="col-sm-12" id="dataTable" style="height: 200px;overflow-y: scroll;" >
									<table class="table table-striped table-bordered"  >
									<thead>
										<tr >
											
											<th>Ora</th>
											<th>Valore</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="row in valuesfortable">
											
											<td>{{row.hour}}</td>
											<td ng-show="row.on == 1">ON</td>
											<td ng-show="row.off == -1">OFF</td>
										</tr>
									
									</tbody>
									
								</table>			


							</div>
						</div>
						<div ng-show="data.results.length <= 0" class="text-center">
							<p style="font-size: 24px;"> Non vi sono dati registrati nelle ultime ore o in questo momento il sensore o il dispositivo non è collegato</p>
						</div>

					</div>
				</div>
            </div>            
        </div>
        <div class="modal-footer">
        	
			
			
        </div>
    </div>
</div>

