<header class="logo-env">
	
	<!-- logo -->
	<div class="logo">
		<a href="#!/app/dashboard-variant-1" class="logo-expanded">
			<img src="assets/images/logo.png" width="150" alt="" class="logomobile"/>
		</a>
		
		<a href="#!/app/dashboard-variant-1" class="logo-collapsed">
			<img src="assets/images/logo-mobile.png" width="40" alt="" />
		</a>
	</div>
	
	<!-- This will toggle the mobile menu and will be visible only on mobile devices -->
	<div class="mobile-menu-toggle visible-xs">
		<a href="" class="dropdown-toggle" data-toggle="dropdown">
				<img ng-if="user.pddstorageb.length <=0" src="assets/images/user-4.png" alt="user-image" class="img-circle img-inline userpic-32" width="28" />
				<img ng-if="user.pddstorageb.length > 0" ng-src="api/ImportContainers/users/download/{{user.pddstorageb[0].storagefilename}}" alt="user-image" class="img-circle img-inline userpic-32" width="28" height="28" />
				<span>
					{{user.firstname}} {{user.secondname}}
					<i class="fa-angle-down"></i>
				</span>
			</a>

			<ul class="dropdown-menu user-profile-menu list-unstyled">
				
				
				<li style="display: none">
					<a href="#profile">
						<i class="fa-user"></i>
						Profile
					</a>
				</li>
				
				<li class="last">
					<a href="#" ng-click="logout()">
						<i class="fa-lock"></i>
						Logout
					</a>
				</li>
			</ul>
		
		<a href="" ng-click="mobileMenuToggle()" data-toggle="mobile-menu">
			<i class="fa-bars"></i>
		</a>
	</div>
	
	<!-- This will open the popup with user profile settings, you can use for any purpose, just be creative -->
	<div class="settings-icon" style="display: none">
		<a href="" ng-click="settingsPaneToggle()">
			<i class="linecons-cog"></i>
		</a>
	</div>
	
</header>